<head>
	<title>IPPON | globoesporte.com</title>
	<meta charset="utf-8">
	<link rel="shortcut icon" href="http://s.glbimg.com/es/ge/static/live/globoesporte/img/favicon.png">
	<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />

	<meta property="og:type" content="article">
	<!--<meta property="og:url" content="http://app.globoesporte.globo.com/{{ projeto.editoria.suffix }}/appito/{{ projeto.ano }}/">-->
	<meta property="og:description" content="{{projeto.subtitulo}}">
	<meta property="og:title" content="Appito | globoesporte.com">
	<meta property="og:image" content="http://app.globoesporte.globo.com/templates/twitter/images/share.jpg">
	<meta property="fb:app_id" content="798331930188933"/>
	<meta property="og:site_name" content="GloboEsporte.com"/>
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:site" content="@globoesportecom">

    <!-- TODO Scripts da globo [Não precisa mexer]-->
    <script src="http://app.globoesporte.globo.com/lib/jquery-1.8.3.min.js"></script>
    <script src="http://app.globoesporte.globo.com/lib/gecom.min.js"></script>
    <script src="http://app.globoesporte.globo.com/lib/jquery-ui-1.10.4.custom.min.js"></script>
    <script src="http://app.globoesporte.globo.com/lib/jquery.ui.touch-punch.min.js"></script>
    <script src="http://s.videos.globo.com/p2/j/api.min.js"></script>
    <link rel="stylesheet" href="http://s.glbimg.com/gl/ba/css/barra-globocom.min.css" type="text/css" media="screen">
    <link rel="stylesheet" href="http://s.glbimg.com/es/ge/static/live/CACHE/css/92f91c22c2e8.css" type="text/css"
          media="screen"/>
    <link rel="stylesheet" href="http://s.glbimg.com/es/ge/static/live/CACHE/css/8b53f19a707e.css" type="text/css"/>
    <link rel="stylesheet" href="http://s.glbimg.com/es/ge/static/live/CACHE/css/12bf1f1a9c06.css" type="text/css"
          media="screen"/>
    <link rel="stylesheet" href="http://s.glbimg.com/es/ge/o/futebol/desktop/homenova.css" type="text/css" media="screen"
          id="css-folder">
    <script type="text/javascript" src="http://s.glbimg.com/es/ge/static/live/CACHE/js/7c75377949be.js"></script>
    <link rel="stylesheet" href="http://app.globoesporte.globo.com/lib/styles/reset.css">


    <!-- TODO Descomentar os estilos locais antes de publicar -->
	<!-- estilos locais -->
<!--{#	{% if projeto.editoria.css_local %}<link rel="stylesheet" href="{{projeto.editoria.css_local}}" type="text/css" media="screen" id="css-folder">{% endif %}#}-->

    <!-- TEALIUM -->
<!--{#	{{projeto.editoria.tealium|safe}}#}-->

{#    {% if not dev %}#}
{#        <link rel="stylesheet" href="http://app.globoesporte.globo.com/templates/appito/css/main.css">#}
{#    {% endif %}#}
</head>
