{% extends "twitter/default.html" %}

{% block content %}
    <main class="container">
      <div class="container-box">
        <ul class="nav-ge-tabs nav nav-tabs" id="myTab">
          <li class="active">
            <a data-toggle="tab" href="#votos-acumulados">Votos Acumulados</a>
          </li>
          <li>
            <a data-toggle="tab" href="#votos-semana">Votos da Semana</a>
          </li>
        </ul>

        <div class="tab-content">
          <div id="home" class="tab-pane fade in active">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
          <div id="menu1" class="tab-pane fade">
            <h3>Menu 1</h3>
            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          </div>
          <div id="menu2" class="tab-pane fade">
            <h3>Menu 2</h3>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
          </div>
          <div id="menu3" class="tab-pane fade">
            <h3>Menu 3</h3>
            <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
          </div>
        </div>
      </div>

        <!-- TODO Usar esse caminho padrão para as seções da página -->
        {# {% include "./twitter/partials/section-header.html" %} #}
        <!--{# {% include "./twitter/partials/nome-doarquivo.html" %} #}-->
    </main>

    {% include "twitter/foot.html" %}
{% endblock %}
