$white: #fff;
$black: #000;
$grey: #eee;
$grey333: #333;

$bodytext: #696969;
$light-grey: #e9e9e9;
$dark-grey: #3f3e3e;
$dark-green: #3b9c00;
$light-green: #62b033;

$list-separator: #e1e5e5;
$disabled: #dedede;

$ge-green: #3b9c00;
$ge-green-dark: #267700;
$ge-light-grey: #f2f2f2;
$combate-red: #c00f06;
$divider-color: #e1e5e5;
$social-default: #989898;
$ge-background-color: #f0f0f0;

$link-color: #1063e0;
$text-color: #333;
$text-color-medium: #777;
$text-color-light: #999;

$social-facebook: #3b5998;
$social-pinterest: #bd081c;
$social-twitter: #55acee;
$social-email: #db4437;
$social-whatsapp: #128c7e;

$red-error: #c0392b;

$blue-flat: #2980b9;

/* Buttons */
$button-true: #386cc2;
$button-false: #de3838;
$button-warning: #f3ac00;
